.line-container {
    width: 100%;
    top: 0;
  }
  
  .line {
    width: 100vw; /* 100% de la largeur de la fenêtre */
    height: 15px; /* Épaisseur de la ligne */
    background: linear-gradient(90deg, rgba(134, 225, 245, 0.8) 0%, rgba(196, 113, 237, 0.6) 50%, rgba(244, 121, 129, 0.6) 90%);
  }
  