 
  .text-container {
    overflow: hidden;
    height: 140px;
    margin-top: 180px;
  }
    
  .text {
    white-space: nowrap;
    animation: defilement 10s linear infinite;
    font-size: 130px;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    margin-top: -180px;
    background: linear-gradient(90deg, #86e1f5 0%, #c471ed 20%, #f47981 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
    
  @keyframes defilement {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  