   .text-container {
    overflow: hidden;
    height: 140px;
    margin-top: 180px;
  }
    
  .text {
    white-space: nowrap;
    animation: defilement 10s linear infinite;
    font-size: 130px;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    margin-top: -180px;
    background: linear-gradient(90deg, #86e1f5 0%, #c471ed 20%, #f47981 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
    
  @keyframes defilement {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }


    /* Media Queries */
  
    @media only screen and (max-width: 992px) {
      .text-container {
        overflow: hidden;
        height: 140px;
        margin-top: 0px;
      }
        
      .text {
        font-size: 80px;
        font-weight: bold;
        margin-top: -50px;
      }
    }

    @media only screen and (max-width: 400px) {
      .text-container {
        overflow: hidden;
        height: 140px;
        margin-top: 0px;
      }
        
      .text {
        font-size: 40px;
        font-weight: bold;
        margin-top: 0px;
      }
    }
  
  