  .portfolio {
    position: relative; // Ajout de cette ligne pour positionner le pseudo-élément correctement
    background-color: white;
    margin-top: 20px;
  
    .titre-portfolio {
      font-size: 3rem;
      margin-top: 340px;
      margin-left: 20%;
      position: relative; // Ajout de cette ligne pour que le pseudo-élément soit positionné par rapport à ce titre
      z-index: 1; // Ajout de cette ligne pour que le titre apparaisse au-dessus du pseudo-élément
    }

  .row-un,
  .row-deux,
  .row-trois {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
  }

  .p-un,
  .p-deux {
    width: 40%;
    height: 80%;
    margin-top: 120px;
    display: flex;
    justify-content: center;
  }

  .p-deux {
    margin-top: -130px;
  }

  &::before {
    content: "WORKS";
    position: absolute;
    font-family: Prata;
    top: 48%;
    left: 50%; // Ajustement de la position horizontale pour centrer le texte
    transform: translate(-50%, -50%) rotate(90deg);
    font-size: 18vw;
    font-weight: bold;
    color: white;
    z-index: 0;
    filter: blur(1px);
  }
}


   /* Large devices (tablets, less than 992px) */

@media only screen and (max-width: 992px) {
  
  .portfolio {
    position: relative; // Ajout de cette ligne pour positionner le pseudo-élément correctement
    background-color: white;
    margin-top: 20px;
  
    .titre-portfolio {
      font-size: 3rem;
      margin-top: 200px;
      margin-left: 20%;
      position: relative; // Ajout de cette ligne pour que le pseudo-élément soit positionné par rapport à ce titre
      z-index: 1; // Ajout de cette ligne pour que le titre apparaisse au-dessus du pseudo-élément
    }

  .row-un,
  .row-deux,
  .row-trois {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .p-un,
  .p-deux {
    width: 50%;
    height: 80%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }

  .p-deux {
    margin-top: 0px;
  }
}
}

 /* Medium devices (phones, less than 768px) */

@media only screen and (max-width: 768px) {
  
  .card-container {
    width: 90%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 10px;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .card {
    margin: 10px auto;
  }
}
  
  
/* XSmall devices (phones, less than 375px) */

/* Small devices (phones, less than 400px) */
@media only screen and (max-width: 400px) {
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments horizontalement */
    background-color: white;
    margin-top: 10px;
  }

  .row-un,
  .row-deux,
  .row-trois {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
  }

  .p-un,
  .p-deux {
    width: 40%;
    height: 80%;
    margin-top: 2px;
    display: flex;
    justify-content: center;
  }

  .p-deux {
    margin-top: 2px;
  }
}

  