.about-body {
    background: linear-gradient(to bottom, #faf0e6, #cec6f9);
    text-align: center;
    padding-bottom: 20px;
  }
  
  h2.about {
    margin: 120px 80px 80px 80px;
    font-size: 6rem;
    color: #151515;
  }
  
  .about-content {
    display: flex;
    margin: 0 80px;
    gap: 50px;
  }
  
  .about-text {
    flex: 2;
    text-align: left;
    margin-right: 20px;
  }
  
  .about-image {
    flex: 1; 
    text-align: center;
  }
  
  .about-description {
    color: #151515;
    margin-top: 0;
    font-size: 1.5rem;
    font-family: "Manrope", sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .about-links {
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
  
  /* Media Queries */
  
  @media only screen and (max-width: 992px) {
    h2.about {
      font-size: 4rem;
    }
  
    .about-content {
      margin: 0 50px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    h2.about {
      font-size: 3rem;
    }
  }
  
  @media only screen and (max-width: 480px) {
    h2.about {
      font-size: 2.5rem;
      margin: 50px 20px 20px 20px;
    }
  
    .about-content {
      flex-direction: column;
      margin: 0 20px;
    }
  
    .about-text{
      text-align: center;
    }

    .about-image {
      text-align: center;

      img {
        width: 200px;
        height: 200px;
        border-top: 0px;
        border-bottom: 0px;
      }
    }

    .about-description {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 0px;
    }

    
  }
  