.about-body {
    background: linear-gradient(to bottom, #faf0e6, #cec6f9);
    text-align: center;
    padding-bottom: 20px;
  }  

h2.about {
    margin: 120px 80px 80px 80px;
    font-size: 6rem;
    color: #fff;
}

p.about-description {
    color: #fff;
    margin-top: 130px;
    font-size: 1.5rem;
    font-family: 'Manrope', sans-serif;
    margin: 80px 90px 40px 90px;
}

.about-links {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
}